<!-- Credit -->
<footer>
  <div class="container">
      <div class="row row-eq-height">
          <div class="col-md-12 section" id="copyright">
              <p align="left">Copyright &copy; Irene Website 2017 
              <a class="btn btn-social-icon btn-twitter" style="text-align:right;">
                  <span class="fa fa-twitter"></span>
                  </a>
              <a class="btn btn-social-icon btn-facebook" style="text-align:right;">
                  <span class="fa fa-facebook"></span>
                  </a>
              </p>
          </div>
      </div>
  </div>
</footer>