<div class="container section" id="about">
  <div class="section-title" style="text-align:center">ABOUT ME</div>
  <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="about-img-container">
            <div class="about-img-padding">
              <img src="assets/img/images.jpg" width="100%" class="img-responsive about-img img-circle">
          </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="about-info">
              <h4>Name</h4>
              <p class="text-muted"> Irene Angreini</p>
          </div>
          <div class="about-info">
              <h4>Phone Number</h4>
              <p class="text-muted">087781881782</p>
          </div>
          <div class="about-info">
              <h4>Address</h4>
              <p class="text-muted">Duta Garden F3/20, Tangerang, Banten</p>
          </div>
          <div class="about-info">
              <h4>Email Address</h4>
              <p class="text-muted">ireneribkang@gmail.com</p>
          </div>
      </div>
  </div>
</div>