<!-- Experience -->
<div class="container-fluid">
    <div class="row row-eq-height">
            <!-- My Education -->
        <div class="col-md-6 section" id="myeducation">
        <div class="section-title"> EXPERIENCE</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="myeducation-year">
                        <b>2014 - 2015</b>
                        <p><i>University of LALALA</i></p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h5><b>Computer University</b></h5>
                    <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
            </div>
            <hr class="myeducation-underline">
            <div class="row">
                <div class="col-sm-4">
                    <div class="myeducation-year">
                        <b>2014 - 2015</b>
                        <p><i>University of LALALA</i></p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h5><b>Computer University</b></h5>
                    <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
            </div>
            <hr class="myeducation-underline">            
        </div>
        <!-- myskill -->
        <div class="col-md-6 section myskill-bg-image" id="myskill">
            <div class="myskill-title"><br>MY SKILLS</div>
                        <div class="myskill-container">
                            <div class="myskill-progress-title"> CSS</div>
                            <div class="progress" style="border-radius: 0">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                            <span class="sr-only">45% Complete</span></div>
                            </div> 
    
                            <div class="myskill-progress-title"> Adobe<s/div>
                            <div class="progress" style="border-radius: 0">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                            <span class="sr-only">85% Complete</span></div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    </div>
